
<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">{{title}}</h4>
      </div>
      <div class="card-body">
        <div class="form-body">
          <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
            <div class="row p-t-20">
              <div class="col-md-4">
                <div class="form-group form-group-sm">
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control"
                  formControlName="displayName"
                  [(ngModel)]="user.displayName">
                  <small *ngIf="!myForm.controls.displayName.valid"
                  class="form-control-feedback text-danger"> Ingrese su Nombre </small> </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-sm  ">
                    <label class="control-label">Cédula</label>
                    <input type="text" class="form-control form-control-danger"
                    formControlName="idCard"
                    [(ngModel)]="user.idCard">
                    <small *ngIf="!myForm.controls.idCard.valid"
                    class="form-control-feedback text-danger"> Cédula o Ruc </small> </div>
                  </div>
                </div>
                <div class="row p-t-20">
                  <div class="col-md-4">
                    <div class="form-group form-group-sm">
                      <label class="control-label">Correo</label>
                      <input type="email" class="form-control" placeholder="usuario@correo.com"
                      formControlName="email"
                      [(ngModel)]="user.email">
                      <small *ngIf="!myForm.controls.email.valid"
                      class="form-control-feedback text-danger"> Ingrese correo válido</small> </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-group-sm">
                        <label class="control-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" placeholder="" required
                        formControlName="bithDate"
                        [(ngModel)]="user.bithDate">
                        <small class="form-control-feedback text-primary"> Ingrese fecha Valida</small> </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-sm  ">
                          <div class="form-group form-group-sm">
                            <label>Empresa</label>
                            <select class="form-control custom-select"
                            formControlName="company"
                            [(ngModel)]="user.company">
                            <option selected="selected" disabled>--Seleccione Empresa--</option>
                            <option *ngFor="let company of hack(companies)" value="{{company.id}}">{{company.name}}</option>
                          </select>
                          <small *ngIf="!myForm.controls.company.valid"
                          class="form-control-feedback text-danger"> Selecione empresa </small> </div>

                        </div>
                      </div>
                    </div>
                    <div class="row p-t-20">
                      <div class="col-md-3">
                        <div class="form-group form-group-sm">
                          <label class="control-label">Teléfono</label>
                          <input type="text" class="form-control" placeholder="" required
                          formControlName="phone"
                          [(ngModel)]="user.phone">
                          <small *ngIf="!myForm.controls.phone.valid"
                          class="form-control-feedback text-danger"> Celular</small> </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group form-group-sm">
                            <label class="control-label">Género</label>
                            <select class="form-control custom-select"
                            formControlName="gender"
                            [(ngModel)]="user.gender">
                            <option selected disabled>--Seleccione Genero--</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select>
                          <small *ngIf="!myForm.controls.gender.valid"
                          class="form-control-feedback text-danger"> Selecione su genero </small> </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group form-group-sm  ">
                            <label class="control-label">Rol</label>
                            <select class="form-control custom-select"
                            formControlName="rol"
                            [(ngModel)]="user.rol">
                            <option selected="selected" disabled>--Seleccione rol--</option>
                            <option *ngFor="let rol of hack(rols)">{{rol.name}}</option>
                          </select>
                          <small *ngIf="!myForm.controls.rol.valid"
                          class="form-control-feedback text-danger"> Selecione su rol </small> </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group form-group-sm  ">
                            <label class="control-label">Cargo</label>
                            <select class="form-control custom-select"
                            formControlName="cargo"
                            [(ngModel)]="user.cargo">
                            <option selected="selected" disabled>--Seleccione Cargo--</option>
                            <option *ngFor="let cargo of hack(cargos)" value="{{cargo.id}}">{{cargo.name}}</option>
                          </select>
                          <small *ngIf="!myForm.controls.cargo.valid"
                          class="form-control-feedback text-danger"> Selecione su cargo </small> </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-success" [disabled]="!myForm.valid" data-toggle="tooltip" data-placement="top" title="Primero ingrese todos">
                      <i class="fa fa-check" ></i> Guardar</button>
                      <button class="btn btn-inverse" (click)="changeRoute('user')" data-toggle="tooltip" data-placement="top" title="Atras">Cancelar</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
