<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle"></h6>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card card-outline-info">
                              <div class="card-header">
                                  <h4 class="m-b-0 text-white">{{title}}</h4>
                              </div>
                              <div class="card-body">
                              <div class="form-body">
                                  <h3 class="card-title">{{subtitle}}</h3>
                                  <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Empresa :</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> {{company.name}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Cédula/RUC :</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> {{company.idCard}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Correo :</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> {{company.email}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Teléfono/Celular :</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> {{company.phone}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                  <h3 class="box-title m-t-40">Dirección</h3>
                                  <hr class="m-t-0 m-b-40">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="control-label text-right col-md-3">Pais :</label>
                                              <div class="col-md-9">
                                                  <p class="form-control-static"> {{company.address}} </p>
                                              </div>
                                          </div>
                                      </div>
                                      <!--/span-->
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="control-label text-right col-md-3">Provincia :</label>
                                              <div class="col-md-9">
                                                  <p class="form-control-static"> {{company.provincia}} </p>
                                              </div>
                                          </div>
                                      </div>
                                      <!--/span-->
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="control-label text-right col-md-3">Ciudad :</label>
                                              <div class="col-md-9">
                                                  <p class="form-control-static"> {{company.city}} </p>
                                              </div>
                                          </div>
                                      </div>
                                      <!--/span-->
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="control-label text-right col-md-3">Código Postal :</label>
                                              <div class="col-md-9">
                                                  <p class="form-control-static"> {{company.zipcode}} </p>
                                              </div>
                                          </div>
                                      </div>
                                      <!--/span-->
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                              <label class="control-label text-right col-md-6">Calle :</label>
                                              <div class="col-md-6">
                                                  <p class="form-control-static"> {{company.street}} </p>
                                              </div>
                                          </div>
                                      </div>
                                      <!--/span-->
                                  </div>
                              </div>
                              <div class="form-actions">
                                  <a class="btn btn-inverse" (click)="changeRoute('company')">Cancelar</a>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
