      <div class="error-box">
          <div class="error-body text-center">
              <h1>404</h1>
              <h3 class="text-uppercase">No se encontró !</h3>
              <p class="text-muted m-t-30 m-b-30">vaya a inicio</p>
              <a routerLink="" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Inicio</a> </div>
      </div>
