<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}  <button type="button" routerLink="/qScale/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}}</h6>
      </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let qScale of qScales">
<div class="card">
    <div class="card-header">
      <div class="card-actions pull-right">
        <a [routerLink]="['/qScale/edit', qScale.id]" routerLinkActive="active" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></a>
        <a [routerLink]="['/qScale/view', qScale.id]" routerLinkActive="active" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info "></i></a>
        <a [routerLink]="['/qScale/remove', qScale.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger "></i></a>
      </div>
        <h4 class="card-title m-b-0">{{qScale.name}}</h4>
    </div>
    <div class="card-body collapse show bg-danger">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item flex-column active">
                    <h3 class="text-white font-light"><span class="font-bold">Escalas</span></h3>
                    <div class="text-white m-t-20">
                        <i>{{qScale.appointmentsList}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>
