
<div class="row">
<div class="col-lg-12">
<div class="card card-outline-info">
<div class="card-header">
<h4 class="m-b-0 text-white">{{title}}</h4>
</div>
<div class="card-body">
<div class="form-body">
<h3 class="card-title">{{subtitle}}</h3>
<hr>
<div class="row p-t-20">
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" id="userName" class="form-control" placeholder="" required
      [(ngModel)]="user.displayName">
      <small class="form-control-feedback"> Ingrese su Nombre </small> </div>
    </div>

    <div class="col-md-4">
      <div class="form-group  ">
        <label class="control-label">Cédula</label>
        <input type="text" id="idCard" class="form-control form-control-danger" placeholder="" required
        [(ngModel)]="user.idCard">
        <small class="form-control-feedback"> Cédula o Ruc </small> </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Estado</label>
          <select class="form-control custom-select" [(ngModel)]="user.state">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
          <small class="form-control-feedback"> Selecione su estado </small> </div>
        </div>
      </div>
      <div class="row p-t-20">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Correo</label>
            <input type="email" id="email" class="form-control" placeholder="usuario@correo.com" required
            [(ngModel)]="user.email">
            <small class="form-control-feedback"> Ingrese correo válido</small> </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Fecha de Nacimiento</label>
              <input type="date" id="bithDate" class="form-control" placeholder="" required
              [(ngModel)]="user.bithDate">
              <small class="form-control-feedback"> Ingrese fecha Valida</small> </div>
            </div>
            <div class="col-md-4">
              <div class="form-group  ">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="form-control custom-select" [(ngModel)]="user.company">
                    <option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</option>
                  </select>
                  <small class="form-control-feedback"> Selecione empresa </small> </div>
                </div>
              </div>
            </div>
            <div class="row p-t-20">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Teléfono</label>
                  <input type="text" id="phone" class="form-control" placeholder="" required
                  [(ngModel)]="user.phone">
                  <small class="form-control-feedback"> Celular</small> </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Género</label>
                    <select class="form-control custom-select" [(ngModel)]="user.gender">
                      <option value="Masculino">Masculino</option>
                      <option value="Femenino">Femenino</option>
                    </select>
                    <small class="form-control-feedback"> Selecione su genero </small> </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group  ">
                      <label class="control-label">Rol</label>
                      <select class="form-control custom-select" [(ngModel)]="user.rol">
                        <option *ngFor="let rol of rols">{{rol.name}}</option>
                      </select>
                      <small class="form-control-feedback"> Selecione su rol </small> </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group  ">
                        <label class="control-label">Cargo</label>
                        <select class="form-control custom-select" [(ngModel)]="user.cargo">
                          <option *ngFor="let cargo of cargos" value="{{cargo.id}}">{{cargo.name}}</option>
                        </select>
                        <small class="form-control-feedback"> Selecione su cargo </small> </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-success" (click)="editUser()"> <i class="fa fa-check" ></i> Guardar</button>
                    <button class="btn btn-inverse" (click)="changeRoute('user')">Cancelar</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
