
<div class="row" [formGroup]="tecnicalForm">
  <div class="form-group col-md-3">
        <input type="text" formControlName="funcion" placeholder="Función" class="form-control">
        <!--display error message if street is not valid-->
  </div>
  <div class="form-group col-md-1">
    <button class="btn btn-info btn-circle" (click)="addStandards(i)"><i class="ti-plus"></i></button>
    <button class="btn btn-danger btn-circle" *ngIf="myForm.controls.standards.controls.length > 1" (click)="removeStandards(i)"><i class="ti-minus"></i></button>
  </div>
  <div class="form-group col-md-8" formArrayName="standards">
    <div *ngFor="let standard of myForm.controls.standards.controls; let i=index">
        <div [formGroupName]="i">
        <standard [group]="myForm.controls.standards.controls[i]"></standard>
        </div>
      </div>
  </div>
</div>
