<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle"></h6>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card card-outline-info">
                              <div class="card-header">
                                  <h4 class="m-b-0 text-white">{{title}}</h4>
                              </div>
                              <div class="card-body">
                              <div class="form-body">
                                  <h3 class="card-title">{{subtitle}}</h3>
                                  <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
                                    Esta seguro que desea eliminar ésta competencia?</ngb-alert>
                                  <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Competencia :</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> {{appointment.name}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                              <div class="form-actions">
                                <button class="btn btn-danger" (click)="remove()">Eliminar</button>
                                <button class="btn btn-inverse" (click)="changeRoute('category')">Cancelar</button>
                                <p class="label text-success">Despues de dar click sera redireccionado al Listado de Competencias.</p>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
