<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}   <button type="button" routerLink="/rol/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}} </h6>
      </div>
    </div>
  </div>
</div>
        <div class="row">
          <ng-container *ngFor="let rol of rols">
            <div class="col-lg-4 col-md-6" *ngIf="rol.state">
              <div class="card">
                <div class="card-body">
                  <div class="card-actions">
                    <a [routerLink]="['/rol/edit', rol.id]" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></a><br />
                    <a [routerLink]="['/rol/view', rol.id]" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info"></i></a><br />
                    <a [routerLink]="['/rol/remove', rol.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger"></i></a>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-bullseye"></i></div>
                    <div class="m-l-10 align-self-center">
                      <h3 class="m-b-0 font-lgiht">{{rol.name}}</h3>
                      <h5 class="text-muted m-b-0">{{rol.permits}}</h5></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
