<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h6 class="card-subtitle"></h6>
<div class="row" >
  <div class="col-lg-12">
    <div class="card card-outline-primary">
      <div class="card-header">
        <h4 class="m-b-0 text-white">{{titleBehaviour}}</h4>
      </div>
      <div class="card-body">
        <div class="form-body">
          <h3 class="card-title">{{subtitleBehaviour}}</h3>
          <hr>
          <div class="row p-t-20">

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Descripción</label>
                <input type="text" id="DescriptionBehaviour" class="form-control" placeholder="" required
                       [(ngModel)]="behaviour.description">
                <small class="form-control-feedback"> Nombre de la competencia </small> </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-primary">
                <label class="control-label">Estado</label>
                <select class="form-control custom-select" [(ngModel)]="behaviour.state">
                  <option selected="selected">--Seleccione el estado--</option>
                  <option value="true">Activo</option>
                  <option value="false">Inactivo</option>
                </select> </div>

            </div>
            <div class="col-md-4">
              <div class="form-group  ">
                <label class="control-label">Categoria</label>
                <select class="form-control custom-select" [(ngModel)]="behaviour.category">
                  <option selected="selected">--Seleccione categoria--</option>
                  <option *ngFor="let category of categorys" value="{{category.name}}">{{category.name}}</option>
                </select>
                <small class="form-control-feedback"> Selecione su cargo </small> </div>
            </div>


          </div>
          <div class="form-actions">

            <button type="submit" class="btn btn-success" (click)="saveBehaviour()"> <i class="fa fa-check" ></i> Guardar</button>
            <a class="btn btn-inverse" (click)="changeRoute('appointment')">Cancelar</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
