<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}   <button type="button" routerLink="/company/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}} </h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let company of companies">
    <div class="col-lg-4 col-xlg-3 col-md-6 col-sm-6 col-xs-6" *ngIf="company.state">
      <div class="card"> <img class="card-img" src="../assets/images/background/socialbg.jpg" alt="Card image">
        <div class="card-img-overlay card-inverse social-profile d-flex ">
          <div class="align-self-center"> <img src="../assets/images/big/logoCoana.png" alt="user" class="img-circle" width="80">
            <h4 class="card-title">{{company.name}}</h4>
            <h6 class="card-subtitle">{{company.email}} - {{company.idCard}}</h6>
            <p class="text-white">Teléfono: {{company.phone}} Dirección: {{company.street}} {{company.City}}</p>
            <a [routerLink]="['/company/edit', company.id]" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-white fa-lg"></i></a>
            <a [routerLink]="['/company/view', company.id]" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info fa-lg"></i></a>
            <a [routerLink]="['/company/remove', company.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
