<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-4">
        <div class="card">
            <div class="card-body text-center justify-content-md-center">
              <img class="card-img-top" src="assets/images/background/profile-bg.jpg">
                <div class="card-body little-profile text-center">
                <div class="pro-img"> <img src="{{user.photoURL}}" class="img-circle" width="150" /></div>
                    <h4 class="card-title m-t-10">{{user.displayName}}</h4>
                    <h6 class="card-subtitle">{{user.company}}</h6>
                    <h6 class="card-subtitle">{{user.idCard}}</h6>

                  </div>
            </div>
            <div>
                <hr> </div>
                <div class="card-body "> <small class="text-muted">Correo: </small>
                    <h6>{{user.email}}</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                    <h6>{{user.phone}}</h6> <small class="text-muted p-t-30 db">Genero</small>
                    <h6>{{user.gender}}</h6>
                </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-8">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Perfil</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Editar Perfil</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--second tab-->
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Genero</strong>
                                <br>
                                <p class="text-muted">{{user.gender}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Nacimiento</strong>
                                <br>
                                <p class="text-muted">{{user.bithDate}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Estado</strong>
                                <br>
                                <p class="text-muted">{{user.state}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Role</strong>
                                <br>
                                <p class="text-muted">{{user.rol}}</p>
                            </div>
                        </div>
                        <hr>
                        <p class="m-t-30">{{user.biografia}}</p>
                        <h4 class="font-medium m-t-30">Tareas</h4>
                        <hr>
                        <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-body">
                        <div class="form-horizontal form-material">
                            <div class="form-group">
                                <label>Nombre</label>
                                <div class="col-md-6">
                                    <input type="text" placeholder="" name="displayName"
                                    [(ngModel)]="user.displayName" class="form-control form-control-line">
                                </div>
                                <label class="control-label">Cédula</label>
                                <input type="text" id="idCard" name="idCard" class="form-control form-control-danger" placeholder="" required
                                [(ngModel)]="user.idCard">
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Telefono</label>
                                <div class="col-md-6">
                                    <input type="text" name="phone"
                                    [(ngModel)]="user.phone" placeholder="0985612474" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Genero</label>
                                <select class="form-control form-control-line" name="gender" [(ngModel)]="user.gender">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Fecha de Nacimiento</label>
                                <input type="date" id="bithDate" class="form-control" name="bithDate" placeholder="" required
                                [(ngModel)]="user.bithDate">
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Biografia</label>
                                <div class="col-md-12">
                                    <textarea rows="3"
                                      [(ngModel)]="user.bio"
                                    name="bio" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Direcion</label>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Av. Eloy Alfaro"
                                  [(ngModel)]="user.address"
                                  class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" (click)="update()">Actualizar Perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
