<div class="row" [formGroup]="standardForm">
  <div class="col-md-12">
      <textarea rows="1" type="text" class="form-control"
      placeholder="Estandares" formControlName="description"></textarea>
    </div>
</div>
