<!-- ==============================================================
<div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
   Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
          <div class="login-box card">
          <div class="card-body">
              <img src="/assets/images/logo-coanaf.png" class="img-responsive">
              <form class="form-horizontal form-material" id="loginform">
                  <h3 class="box-title m-b-20 text-center">Iniciar Sesión</h3>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="email" name="email" required="" placeholder="Correo"
                          [(ngModel)]="loginParams.email"> </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" name="password" required="" placeholder="Contraseña"
                          [(ngModel)]="loginParams.password"> </div>
                  </div>
                  <div class="form-group">
                            <label for="checkbox-signup label-danger" name="mensaje">{{mensaje}} </label>
                  </div>
                  <div class="form-group">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-primary pull-left p-t-0">
                              <input id="checkbox-signup" type="checkbox">
                              <label for="checkbox-signup"> Recuerdame </label>
                          </div>
                          <a routerLink="/recover" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvidó su contraseña?</a>
                        </div>
                  </div>
                  <div class="form-group text-center m-t-20" style="color:#FFFFFF">
                      <div class="col-xs-12">
                          <a class="btn btn-info btn-md btn-block text-uppercase " (click)="login()">Ingresar</a>
                      </div><br>
                          <div class="social">
                              <a (click)="googleLogin()" class="btn btn-googleplus btn-md btn-block text-uppercase" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> Google</a>
                          </div>
                      </div>
                      <div class="col-sm-12 text-center">
                          <p>No tiene cuenta? <a routerLink="/singup" class="text-info m-l-5"><b>Registro</b></a></p>
                      </div>
              </form>
          </div>
        </div>
      </div>
  </section>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
