                <div class="row page-titles" *ngIf="pageInfo">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{{pageInfo?.title}}</h3>
                        <ol class="breadcrumb">
                            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
		                    	<li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
		                    		<a>{{url.title}}</a>
		                    	</li>
		                        <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
		                    </ng-template>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4></div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                            <div class="">
                              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                          </div>
                        </div>
                    </div>
                </div>
