<section id="wrapper">
      <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
          <div class="login-box card">
          <div class="card-body">
            <img src="/assets/images/logo-coanaf.png" class="img-responsive">

              <form class="form-horizontal form-material" id="loginform" action="index.html">
                  <h3 class="box-title m-b-20 text-center" >Recuperar contraseña</h3>
                  <div class="form-group ">
                    <div class="col-xs-12">
                      <p class="text-muted">Ingrese su correo y siga las instrucciones! </p>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input class="form-control" type="text" name="recover" placeholder="Correo" [(ngModel)]="recoverParams.email"> </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                      <button class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="recover()">Resetear</button>
                    </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <p>No tiene cuenta? <a routerLink="/singup" class="text-info m-l-5"><b>Registro</b></a></p>
                      </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
  </section>
