<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-4">
        <div class="card">
            <div class="card-body text-center justify-content-md-center">
                <div class="m-t-30"> <img src="{{url}}" class="img-rounded" width="150" />
                    <h4 class="card-title m-t-10">{{company.name}}</h4>
                    <h6 class="card-subtitle">{{company.idCard}}</h6>
                </div>
            </div>
            <div>
                <hr> </div>
                <div class="card-body ">
                  <small class="text-muted">Correo: </small>
                    <h6>{{company.email}}</h6>
                    <small class="text-muted p-t-30 db">Teléfono</small>
                    <h6>{{company.phone}}</h6>
                    <small class="text-muted p-t-30 db">Estado</small>
                    <h6>{{company.state}}</h6>
                </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-8">
        <div class="card">
            <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Perfil</a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 b-r"> <strong>Pais</strong>
                                <br>
                                <p class="text-muted">{{company.country}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r"> <strong>Provincia</strong>
                                <br>
                                <p class="text-muted">{{company.provincia}}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r"> <strong>Ciudad</strong>
                                <br>
                                <p class="text-muted">{{company.city}}</p>
                            </div>
                        </div>
                        <hr>
                        <label for="">Dirección</label>
                        <p class="m-t-30">{{company.street}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
