<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}   <button type="button" routerLink="/user/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}} </h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let user of users">
    <div class="col-lg-4 col-xlg-4 col-md-4 col-sm-6">
    <div class="card">
      <div class="card-header">
        <div class="card-actions">
          <a [routerLink]="['/user/edit', user.id]" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse fa-lg"></i></a>
          <a [routerLink]="['/user/view', user.id]" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info fa-lg"></i></a>
          <a [routerLink]="['/user/remove', user.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger fa-lg"></i></a>
        </div>
        <h4 class="card-title m-b-0">{{user.displayName}}</h4>
      </div>
      <div class="card-body collapse show b-t">
        <div class="m-t-30 text-center"> <img src="{{user.photoURL}}" class="img-circle" width="80">
          <h4 class="card-title m-t-10">{{user.email}}</h4>
          <h6 class="card-subtitle">{{user.phone}} - {{user.company}}</h6>
          <div class="row text-center justify-content-md-center justify-content-xs-center justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
    </div>
  </ng-container>
</div>
