<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle"></h6>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card card-outline-info">
                              <div class="card-header">
                                  <h4 class="m-b-0 text-white">{{title}}</h4>
                              </div>
                              <div class="card-body">
                              <div class="form-body">
                                  <h3 class="card-title">{{subtitle}}</h3>
                                  <hr>
                                  <div class="row p-t-20">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label class="control-label">Nombre</label>
                                              <input type="text" id="categoryName" class="form-control" placeholder="" required
                                              [(ngModel)]="category.name">
                                              <small class="form-control-feedback"> Nombre de la Categoría </small> </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group has-danger">
                                              <label class="control-label">Detalle</label>
                                              <input type="text" id="descriptionName" class="form-control form-control-danger" placeholder="" required
                                              [(ngModel)]="category.permits">
                                              <small class="form-control-feedback"> Ingrese el detalle. </small> </div>
                                      </div>
                                    <div class="col-md-4">
                                      <div class="form-group has-danger">
                                        <label class="control-label">Estado</label>
                                        <select class="form-control custom-select" [(ngModel)]="category.state">
                                          <option selected="selected">--Seleccione Empresa--</option>
                                          <option value="true">Activo</option>
                                          <option value="false">Inactivo</option>

                                        </select>
                                      <small class="form-control-feedback"> Seleccione el estado. </small> </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-actions">
                                  <button type="submit" class="btn btn-success" (click)="edit()"> <i class="fa fa-check" ></i> Guardar</button>
                                  <a class="btn btn-inverse" (click)="changeRoute('category')">Cancelar</a>

                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
