<div class="row">
<div class="col-lg-12">
  <div class="card card-outline-info">
    <div class="card-header">
      <h4 class="m-b-0 text-white">{{title}}</h4>
    </div>
    <div class="card-body">
      <div class="form-body">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="row p-t-20">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre"
                [(ngModel)]="qScale.name">
                <small *ngIf="!myForm.controls.name.valid"
                class="form-control-feedback text-danger"> Ingrese nombre </small> </div>
              </div>
                  </div>
                  <div class="row p-t-20">
                    <div class="col-md-12" formArrayName="tecnicals">
                      <div *ngFor="let tecnical of myForm.controls.tecnicals.controls; let i=index">
                          <div class="panel-heading">
                            <span>Competencias Tecnicas {{i + 1}}</span>
                            <div class="pull-right" style="color:#FFF;"><a class="label label-warning  pull-righ" (click)="addTecnicals(i)"><i class="ti-plus"></i></a>
                            <a class="label label-danger  pull-righ" *ngIf="myForm.controls.tecnicals.controls.length > 1" (click)="removeTecnicals(i)"><i class="ti-close"></i></a>
                          </div>
                          </div>
                          <div class="panel-body" [formGroupName]="i">
                          <tecnical [group]="myForm.controls.tecnicals.controls[i]"></tecnical>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success" [disabled]="!myForm.valid"> <i class="fa fa-check" ></i> Guardar</button>
                      <button class="btn btn-inverse" (click)="changeRoute('cargo')">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

