<div class="row p-t-20" [formGroup]="tecnicalForm">
  <div class="form-group col-md-2">
        <input type="text" formControlName="name" placeholder="Denominación" class="form-control">
        <!--display error message if street is not valid-->
        <small class="form-control-feedback text-danger"
         [hidden]="tecnicalForm.controls.name.valid">
          Denominación requerido
        </small>
  </div>
  <div class="form-group col-md-2">
    <input type="number" formControlName="value" placeholder="Valor" class="form-control">
    <!--display error message if street is not valid-->
    <small class="form-control-feedback text-danger"
           [hidden]="tecnicalForm.controls.value.valid">
      Valor requerido
    </small>
  </div>
  <div class="form-group col-md-8">
      <textarea rows="1" type="text" class="form-control"

      placeholder="Texto Ayuda" formControlName="detail"></textarea>
    </div>
</div>
