<div class="row">
<div class="col-lg-12">
<div class="card card-outline-info">
<div class="card-header">
<h4 class="m-b-0 text-white">{{title}}</h4>
</div>
<div class="card-body">
<div class="form-body">
  <form [formGroup]="myForm" novalidate (ngSubmit)="edit(myForm)">
    <div class="row p-t-20">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre"
          [(ngModel)]="group.name">
          <small *ngIf="!myForm.controls.name.valid"
          class="form-control-feedback text-danger"> Ingrese nombre </small> </div>
        </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Evaluadores</label><br />
                <ss-multiselect-dropdown [options]="Users"
                formControlName="members"
                [(ngModel)]="group.memberList"
                [texts]="myTexts"
                [settings]="mySettings"
                (ngModelChange)="onChangeu($event)"></ss-multiselect-dropdown><br>
                <small class="form-control-feedback"> Ingrese miembros</small> </div>
              </div>
            </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success" [disabled]="!myForm.valid"> <i class="fa fa-check" ></i> Guardar</button>
                <button class="btn btn-inverse" (click)="changeRoute('group')">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
