<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle"></h6>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card card-outline-info">
                              <div class="card-header">
                                  <h4 class="m-b-0 text-white">{{title}}</h4>
                              </div>
                              <div class="card-body">
                              <div class="form-body">
                                  <div class="row p-t-20">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label class="control-label">Nombre</label>
                                              <input type="text" id="companyName" class="form-control" placeholder="Coana" required
                                              [(ngModel)]="company.name">
                                              <small class="form-control-feedback"> Nombre de la empresa </small> </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label class="control-label">Cédula/Ruc</label>
                                              <input type="text" id="idCard" class="form-control form-control-danger" placeholder="" required
                                              [(ngModel)]="company.idCard">
                                              <small class="form-control-feedback"> Ingrese su Cedula. </small> </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="control-label">Correo</label>
                                            <input type="email" id="email" class="form-control" placeholder="usuario@correo.com" required
                                            [(ngModel)]="company.email">
                                            <small class="form-control-feedback"> Ingrese correo válido</small> </div>
                                      </div>
                                  </div>
                                  <div class="row p-t-20">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label class="control-label">Teléfono</label>
                                              <input type="text" id="phone" class="form-control form-control-danger" placeholder="022483313" required
                                              [(ngModel)]="company.phone">
                                              <small class="form-control-feedback"> Oficina o celular </small> </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="control-label">Logo</label>
                                              <label>
                                                 <input type="file" class="btn btn-primary btn-xs" (change)="detectFiles($event)">
                                              </label>
                                              <div *ngIf="currentUpload">
                                                <progress class="progress-bar-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
                                                Proceso: {{currentUpload?.name}} | {{currentUpload?.progress}}% Completo
                                            </div>

                                              <small class="form-control-feedback ">primero selecione imagenes: .png o . jpg </small> </div>
                                      </div>
                                  </div>
                                  <div class=" col-md-6">
                                    <div class="form-group">
                                    <form>
                                      <label>Dirección</label>
                                            <input type="text" placeholder="Buscar dirección en Google Maps" [formControl]="searchField" class="form-control"/>
                                          </form>
                                          <ul class="list-group">
                                              <li class="list-group-item" *ngFor="let result of results$ | async"
                                              (click)="selectAddress(result)">{{result.formatted_address}}</li>
                                              </ul>
                                            </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Pais</label>
                                            <select class="form-control custom-select" [(ngModel)]="company.country">
                                                <option>--Seleccione Pais--</option>
                                                <option>Ecuador</option>
                                                <option>India</option>
                                                <option>Sri Lanka</option>
                                                <option>USA</option>
                                            </select>
                                        </div>
                                    </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Provincia</label>
                                              <input type="text" class="form-control" [(ngModel)]="company.provincia">
                                          </div>
                                      </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            <input type="text" class="form-control" [(ngModel)]="company.city">
                                        </div>
                                    </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Codigo Postal</label>
                                              <input type="text" class="form-control" [(ngModel)]="company.zipcode">
                                          </div>
                                      </div>
                                      <div class="col-md-4 ">
                                          <div class="form-group">
                                              <label>Calle</label>
                                              <input type="text" class="form-control" [(ngModel)]="company.street">
                                          </div>
                                      </div>
                                      <div class="col-md-4 ">
                                          <div class="form-group">
                                              <label>No.</label>
                                              <input type="text" class="form-control" [(ngModel)]="company.number">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-actions">
                                  <button type="submit" class="btn btn-success" 
                                  [disabled]="!selectedFiles"
                                  (click)="saveCompany()"> <i class="fa fa-check" ></i> Guardar</button>
                                  <a class="btn btn-inverse">Cancelar</a>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
