<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}  <button type="button" routerLink="/cargo/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}}</h6>
      </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let cargo of cargos">
<div class="card">
    <div class="card-header">
      <div class="card-actions pull-right">
        <a [routerLink]="['/cargo/edit', cargo.id]" routerLinkActive="active" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></a>
        <a [routerLink]="['/cargo/view', cargo.id]" routerLinkActive="active" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info "></i></a>
        <a [routerLink]="['/cargo/remove', cargo.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger "></i></a>
      </div>
        <h4 class="card-title m-b-0"> </h4>
    </div>
    <div class="card-body collapse show bg-danger">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item flex-column active">
                    <p class="text-white">Nivel</p>

                  
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>
