
  <div class="row">
      <div class="col-lg-12">
          <div class="card card-outline-info">
              <div class="card-header">
                  <h4 class="m-b-0 text-white">{{title}}</h4>
              </div>
              <div class="card-body">
              <div class="form-body">
                  <h3 class="card-title">{{subtitle}} {{user.displayName}}</h3>
                  <hr class="m-t-0 m-b-40">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Nombre:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.displayName}} </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Cédula:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.idCard}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Correo :</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.email}} </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Teléfono/Celular :</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.phone}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Nacimiento :</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.bithDate}} </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Empresa:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.company}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Genero :</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.gender}} </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Estado:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="form-control-static"> {{user.state}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="form-actions">
                  <button class="btn btn-inverse" (click)="changeRoute('user')">Cancelar</button>
              </div>
              </div>
          </div>
      </div>
  </div>
