<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;" >
      <!-- User profile image -->
      <div class="profile-img"> <img src="{{url}}" alt="" /> </div>
      <!-- User profile text-->
      <div class="profile-text"> <a class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{user.displayName}} <span class="caret"></span></a>
        <div class="dropdown-menu animated flipInY">
          <a  class="dropdown-item" ><i class="ti-settings"></i> Mis Opciones</a>
          <div class="dropdown-divider"></div> <a routerLink="profile" class="dropdown-item"><i class="ti-user"></i> Mi Perfil</a>
          <div class="dropdown-divider"></div> <a (click)="logout()" class="dropdown-item"><i class="fa fa-power-off"></i> Salir</a>
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav" >
      <ul id="sidebarnav" *ngIf="ROLE_ADMIN">
        <li class="nav-small-cap text-primary">ADMINISTRADOR</li>
        <li>
          <a  routerLinkActive="active" routerLink=""><i class="mdi mdi-home"></i><span class="hide-menu">Inicio</span></a>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-image-filter-vintage"></i><span class="hide-menu">Administración</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a  routerLinkActive="active" routerLink="user/list"><i class="mdi mdi-account"></i>Usuarios</a></li>
            <li><a  routerLinkActive="active" routerLink="rol/list"><i class="mdi mdi-key-change"></i>Roles</a></li>
            <li><a  routerLinkActive="active" routerLink="group/list"><i class="mdi mdi-account-multiple-plus"></i>Grupos</a></li>
            <li><a  routerLinkActive="active" routerLink="company/list"><i class="mdi mdi-shopping"></i>Empresas</a></li>
            <li><a  routerLinkActive="active" routerLink="cargo/list"><i class="mdi mdi-check-all"></i>Cargos</a></li>
            <li><a  routerLinkActive="active" routerLink="category/list"><i class="mdi mdi-wrench"></i>Categorias</a></li>
            <li><a  routerLinkActive="active" routerLink="appointment/list"><i class="mdi mdi-wrench"></i>Competencias</a></li>
            <li><a  routerLinkActive="active" routerLink="area/list"><i class="mdi mdi-wrench"></i>Areas</a></li>
            <li><a  routerLinkActive="active" routerLink="qScale/list"><i class="mdi mdi-wrench"></i>Escalas</a></li>

          </ul>
        </li>

        <li><a  routerLinkActive="active" routerLink="user"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a></li>
        <li><a  routerLinkActive="active" routerLink="rol"><i class="mdi mdi-key-change"></i><span class="hide-menu">Roles</span></a></li>
        <li><a  routerLinkActive="active" routerLink="group"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Grupos</span></a></li>
        <li><a  routerLinkActive="active" routerLink="company"><i class="mdi mdi-shopping"></i><span class="hide-menu">Empresas</span></a></li>
        <li><a  routerLinkActive="active" routerLink="cargo"><i class="mdi mdi-check-all"></i><span class="hide-menu">Cargos</span></a></li>
        <li><a  routerLinkActive="active" routerLink="category"><i class="mdi mdi-wrench"></i><span class="hide-menu">Categorias</span></a></li>

        <li><a  routerLinkActive="active" routerLink="appointment"><i class="mdi mdi-wrench"></i><span class="hide-menu">Competencias</span></a></li>
        <li><a  routerLinkActive="active" routerLink="pdi"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Evaluaciones</span></a></li>
        <li><a  routerLinkActive="active" routerLink="resultados"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Resultados</span></a></li>
        <li><a  routerLinkActive="active" routerLink="evaluaciones"><i class="mdi mdi-checkbox-marked-outline"></i><span class="hide-menu">Evaluaciones</span></a></li>
      </ul>
      <!-- End Sidebar navigation -->
      <!-- Sidebar navigation-->
      <ul id="sidebarnav"  *ngIf="ROLE_RRHH">
        <li class="nav-small-cap text-primary">RRHH</li>
        <li>
          <a  routerLinkActive="active" routerLink=""><i class="mdi mdi-home"></i><span class="hide-menu">Inicio</span></a>
        </li>
        <li><a  routerLinkActive="active" routerLink="user"><i class="mdi mdi-account"></i><span class="hide-menu">Usuarios</span></a></li>
        <li><a  routerLinkActive="active" routerLink="rol"><i class="mdi mdi-key-change"></i><span class="hide-menu">Roles</span></a></li>
        <li><a  routerLinkActive="active" routerLink="group"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Grupos</span></a></li>
        <li><a  routerLinkActive="active" routerLink="company"><i class="mdi mdi-shopping"></i><span class="hide-menu">Empresas</span></a></li>
        <li><a  routerLinkActive="active" routerLink="cargo"><i class="mdi mdi-check-all"></i><span class="hide-menu">Cargos</span></a></li>
        <li><a  routerLinkActive="active" routerLink="category"><i class="mdi mdi-wrench"></i><span class="hide-menu">Categorias</span></a></li>
        <li><a  routerLinkActive="active" routerLink="pdi"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Evaluaciones</span></a></li>
        <li><a  routerLinkActive="active" routerLink="resultados"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Resultados</span></a></li>
        <li><a  routerLinkActive="active" routerLink="evaluaciones"><i class="mdi mdi-checkbox-marked-outline"></i><span class="hide-menu">Evaluaciones</span></a></li>
      </ul>
      <!-- End Sidebar navigation -->
      <!-- Sidebar navigation-->
      <ul id="sidebarnav" *ngIf="ROLE_USER">
        <li class="nav-small-cap text-primary">USUARIO</li>
        <li>
          <a  routerLinkActive="active" routerLink=""><i class="mdi mdi-home"></i><span class="hide-menu">Inicio</span></a>
        </li>
        <li><a  routerLinkActive="active" routerLink="pdi"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Evaluaciones</span></a></li>
        <li><a  routerLinkActive="active" routerLink="resultados"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Resultados</span></a></li>
        <li><a  routerLinkActive="active" routerLink="evaluaciones"><i class="mdi mdi-checkbox-marked-outline"></i><span class="hide-menu">Evaluaciones</span></a></li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <div class="sidebar-footer">
    <!-- item-->
    <a routerLink="profile" class="link" data-toggle="tooltip" title="Perfil"><i class="ti-settings"></i></a>
    <!-- item-->
    <a class="link" data-toggle="tooltip" title="Notificaciones"><i class="mdi mdi-gmail"></i></a>
    <!-- item-->
    <a (click)="logout()" class="link" data-toggle="tooltip" title="Salir"><i class="mdi mdi-power"></i></a>
  </div>

</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
