<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}   <button type="button" routerLink="/category/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}} </h6>
        <div class="table-responsive m-t-40">
          <table id="demo-foo-addrow" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
            <tbody>
              <ng-container *ngFor="let category of categorys">
                <tr *ngIf="category.state">
                  <td>{{category.name}}</td>
                  <td>{{category.description}}</td>
                  <td>
                    <div class="button-box">
                      <button type="button" class="btn btn-secondary" [routerLink]="['/category/edit', category.id]" routerLinkActive="active" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></button>
                      <button type="button" class="btn btn-secondary" [routerLink]="['/category/view', category.id]" routerLinkActive="active" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info"></i></button>
                      <button type="button" class="btn btn-secondary" [routerLink]="['/category/remove', category.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger"></i></button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
