<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark" >
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">
                <b>
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b></a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
              <img src="assets/images/logo-light-text.png" class="logo-center" alt="homepage" />
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a>
                                    <a href="#">
                                        <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                    </a>
                                    <a href="#">
                                        <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                    </a>
                                    <a href="#">
                                        <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                        <ul>
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{user.photoURL}}" alt="˅" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="{{user.photoURL}}" alt="Usuario"></div>
                                    <div class="u-text">
                                        <h4>{{user.displayName}}</h4>
                                        <p class="text-muted">{{user.email}}</p><a routerLink="profile" class="btn btn-rounded btn-danger btn-sm">Ver Perfil</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="profile"><i class="ti-user"></i> Mi Perfil</a></li>
                            <li><a routerLink="business"><i class="ti-wallet"></i> Mi Empresa</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Configuración de Cuenta</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logout()"><i class="fa fa-power-off"></i> Salir</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                    <div class="dropdown-menu scale-up-left">
                        <ul class="mega-dropdown-menu row">
                            <li class="col-md-1 col-xlg-2">
                              <div class="container"><a routerLink=""> <img class="d-block img-fluid" src="assets/images/big/logoCoana.png" alt="First slide"></a></div>
                            </li>
                            <li class="col-md-3">
                                <ul class="list-style-none">
                                <li><h4 class="m-b-3"><a  routerLink="user"><i class="mdi mdi-account fa-2x"></i>Usuarios</a></h4></li>
                                <li><h4 class="m-b-3"><a  routerLink="rol"><i class="mdi mdi-key-change fa-2x"></i>Roles</a></h4></li>
                                <li><h4 class="m-b-3"><a  routerLink="group"><i class="mdi mdi-account-multiple-plus fa-2x"></i>Grupos</a></h4></li>
                              </ul>
                            </li>
                            <li class="col-md-3">
                                <ul class="list-style-none">
                                    <li><h4 class="m-b-3"><a  routerLink="company"><i class="mdi mdi-shopping fa-2x"></i>Empresas</a></h4></li>
                                    <li><h4 class="m-b-10"><a  routerLink="cargo"><i class="mdi mdi-check-all fa-2x"></i>Cargos</a></h4></li>
                                </ul>
                            </li>
                            <li class="col-md-4 col-xlg-4 ">
                                <!-- List style -->
                                <ul class="list-style-none">
                                    <li><h4 class="m-b-10"><a  routerLink="pdi"><i class="mdi mdi-clipboard-text fa-2x"></i>PDI</a></h4></li>
                                    <li><h4 class="m-b-10"><a  routerLink="resultados"><i class="mdi mdi-chart-line fa-2x"></i>Resultados</a></h4></li>
                                    <li><h4 class="m-b-10"><a  routerLink="evaluaciones"><i class="mdi mdi-checkbox-marked-outline fa-2x"></i>Evaluaciones</a></h4></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
