<div class="row p-t-20" [formGroup]="tecnicalForm">
  <div class="form-group col-md-3">
        <input type="text" formControlName="name" placeholder="Nombre" class="form-control">
        <!--display error message if street is not valid-->
        <small class="form-control-feedback text-danger"
         [hidden]="tecnicalForm.controls.name.valid">
          Nombre requerido
        </small>
  </div>
  <div class="form-group col-md-9">
      <textarea rows="1" type="text" class="form-control"
        
      placeholder="Descripción" formControlName="description"></textarea>
    </div>
</div>
