<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle"></h6>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card card-outline-info">
                              <div class="card-header">
                                  <h4 class="m-b-0 text-white">{{title}}</h4>
                              </div>
                              <div class="card-body">
                              <div class="form-body">
                                  <h3 class="card-title">{{subtitle}}</h3>
                                  <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group row">
                                                <label class="control-label text-left col-md-6 col-sm-6 col-xs-6">Nombre:</label>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <p class="form-control-static"> {{group.name}} </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                          <div class="card-body collapse show ">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <div class="carousel-inner">
                                                <div class="carousel-item flex-column active">
                                                  <ss-multiselect-dropdown disabled
                                                                           [options]="Users"
                                                                           [(ngModel)]="group.memberList"
                                                                           [texts]="myTexts"
                                                                           [settings]="mySettings"></ss-multiselect-dropdown>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                              </div>
                              <div class="form-actions">
                                  <button class="btn btn-inverse" (click)="changeRoute('group')">Cancelar</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
