<section id="wrapper">
      <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
          <div class="login-box card">
          <div class="card-body">
            <img src="/assets/images/logo-coanaf.png" class="img-responsive">
              <form class="form-horizontal form-material">
                  <h3 class="box-title m-b-20 text-center">Registro</h3>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input type="email" class="form-control"  id="correo" name="correo" placeholder="Correo" required=""
                          [(ngModel)]="signupParams.email">
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" id="password" name="password" placeholder="Contraseña" required=""
                          [(ngModel)]="signupParams.password">
                      </div>
                      <label for="checkbox-signup has-error" name="mensaje">{{mensaje}} </label>
                  </div>
                  <div class="form-group">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-success p-t-0 p-l-10">
                              <input id="checkbox-signup" type="checkbox">
                              <label for="checkbox-signup"> Acepto todos los  <a>Términos</a></label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <a type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="signup()">Registrarse</a>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <p>Ya tiene cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Iniciar Sesión</b></a></p>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </section>
