<div class="row">
<div class="col-lg-12">
  <div class="card card-outline-info">
    <div class="card-header">
      <h4 class="m-b-0 text-white">{{title}}</h4>
    </div>
    <div class="card-body">
      <div class="form-body">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="row p-t-20">
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre"
                [(ngModel)]="cargo.name">
                <small *ngIf="!myForm.controls.name.valid"
                class="form-control-feedback text-danger"> Ingrese nombre </small> </div>
              </div>
              <div class="col-md-3">
                <div class="form-group  ">
                  <select class="form-control custom-select " formControlName="level"
                    [(ngModel)]="cargo.level" placeholder="Nivel">
                    <option value="" selected disabled>Seleccione</option>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="2">Nivel 3</option>
                    <option value="2">Nivel 4</option>
                    <option value="2">Nivel 5</option>
                    <option value="2">Nivel 6</option>
                  </select>
                  <small class="form-control-feedback text-danger">Ingrese nivel </small> </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Competencia</label><br />
                    <ss-multiselect-dropdown [options]="Appointments" class="selectpicker"
                    formControlName="appointments"
                    [(ngModel)]="cargo.appointmentsList"
                    [texts]="myTexts"
                    [settings]="mySettings"
                    (ngModelChange)="onChange($event)"></ss-multiselect-dropdown><br>
                    <small class="form-control-feedback"> selecione las compentencias</small> </div>
                  </div>

                  </div>
                  <div class="row p-t-20">
                    <div class="col-md-12" formArrayName="tecnicals">
                      <div *ngFor="let tecnical of myForm.controls.tecnicals.controls; let i=index">
                          <div class="panel-heading">
                            <span>Actividades {{i + 1}}</span>
                            <div class="pull-right">
                              <button class="btn btn-warning btn-circle pull-righ" (click)="addTecnicals(i)"><i class="ti-plus"></i></button>
                              <button class="btn btn-danger btn-circle pull-righ" *ngIf="myForm.controls.tecnicals.controls.length > 1" (click)="removeTecnicals(i)"><i class="ti-close"></i></button>
                          </div>
                          </div>
                          <div class="panel-body" [formGroupName]="i">
                          <tecnical [group]="myForm.controls.tecnicals.controls[i]"></tecnical>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Evaluadores</label><br />
                        <ss-multiselect-dropdown [options]="Users"
                        formControlName="evaluators"
                        [(ngModel)]="cargo.evaluatorList"
                        [texts]="myTexts"
                        [settings]="mySettings"
                        (ngModelChange)="onChangeu($event)"></ss-multiselect-dropdown><br>
                        <small class="form-control-feedback"> Ingrese evaluadores</small> </div>
                      </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success" [disabled]="!myForm.valid"> <i class="fa fa-check" ></i> Guardar</button>
                      <button class="btn btn-inverse" (click)="changeRoute('cargo')">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
