<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{title}}   <button type="button" routerLink="/behaviourList/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
        <h6 class="card-subtitle">{{subtitle}} </h6>
        <div class="table-responsive m-t-40">
          <table id="demo-foo-addrow" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Categoría</th>

              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Descripción</th>
                <th>Categoría</th>

              </tr>
            </tfoot>
            <tbody>
              <ng-container *ngFor="let behaviour of behaviourLists">
                <tr *ngIf="behaviour.state">
                  <td>{{behaviour.description}}</td>
                  <td>{{behaviour.category}}</td>

                  <td>
                    <div class="button-box">
                      <button type="button" class="btn btn-secondary" [routerLink]="['/behaviourList/edit', behaviour.id]" routerLinkActive="active" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></button>
                      <button type="button" class="btn btn-secondary" [routerLink]="['/behaviourList/view', behaviour.id]" routerLinkActive="active" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info"></i></button>
                      <button type="button" class="btn btn-secondary" [routerLink]="['/behaviourList/remove', behaviour.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger"></i></button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="form-actions">

          <button type="submit" class="btn btn-success" (click)="saveBehaviour()"> <i class="fa fa-check" ></i> Guardar Comportamientos</button>
          <a class="btn btn-inverse" (click)="saveBehaviour()">Cancelar</a>

        </div>
      </div>
    </div>
  </div>
</div>
