<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{title}}   <button type="button" routerLink="/appointment/new" class="btn btn-circle btn-lg btn-success waves-effect waves-dark" placement="top" ngbTooltip="NUEVO">+</button></h2>
                <h6 class="card-subtitle">{{subtitle}} </h6>
                                <div class="table-responsive m-t-40">
                                    <table id="demo-foo-addrow" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Definición</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                              <th>Nombre</th>
                                              <th>Definición</th>
                                              <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          <ng-container *ngFor="let appointment of appointments">
                                            <tr *ngIf="appointment.state">
                                                <td>{{appointment.name}}</td>
                                                <td>{{appointment.definition}}</td>
                                                <td>
                                                  <div class="button-box">
                                                  <button type="button" class="btn btn-secondary" [routerLink]="['/appointment/edit', appointment.id]" routerLinkActive="active" placement="top" ngbTooltip="Editar"><i class="fa fa-pencil text-inverse"></i></button>
                                                  <button type="button" class="btn btn-secondary" [routerLink]="['/appointment/view', appointment.id]" routerLinkActive="active" placement="top" ngbTooltip="Ver"> <i class="fa fa-eye text-info"></i></button>
                                                  <button type="button" class="btn btn-secondary" [routerLink]="['/appointment/remove', appointment.id]"  placement="top" ngbTooltip="Eliminar"> <i class="fa fa-close text-danger"></i></button>
                                                </div>
                                                </td>
                                            </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
