<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h6 class="card-subtitle"></h6>
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-outline-info">
              <div class="card-header">
                <h4 class="m-b-0 text-white">{{title}}</h4>
              </div>
              <div class="card-body">
                <div class="form-body">
                  <h3 class="card-title">{{subtitle}}</h3>
                  <hr>
                  <div class="row p-t-20">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" id="Name" class="form-control" placeholder="" required
                        [(ngModel)]="appointment.name">
                        <small class="form-control-feedback"> Nombre de la competencia </small> </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group has-primary">
                          <label class="control-label">Definición</label>
                          <textarea type="text" id="description" class="form-control form-control-default" placeholder="" required
                          [(ngModel)]="appointment.definition"></textarea>
                          <small class="form-control-feedback"> Ingrese la definición de la competencia. </small> </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="submit" class="btn btn-success" (click)="save()"> <i class="fa fa-check" ></i> Agregar Comportamientos</button>
                        <button class="btn btn-inverse" (click)="changeRoute('appointment')">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
